*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
/* container */
.container{
    padding:0 30px;
    width: 100%;
    max-width: 1160px;
   margin-left: auto;
   margin-right: auto ;
}
