@import url('https://fonts.googleapis.com/css2?f                              amily=Open+Sans:wght@400;600;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    padding: 0;
    background: #fff;
    margin: 0;
    font-family: "Open Sans","Arial",sans-serif;
    font-size: 16px;
    line-height: 1.5;
   
}
/* container */
.container{
   padding:0 30px;
   width: 100%;
   max-width: 1160px;
   margin-left: auto;
   margin-right: auto ;
  
}

.site-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.sitenav{
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}
.sitenav_list{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
   
}
.sitenav_item:not(:last-child){
    margin-right: 32px;
}
.sitenav_link{
 display: block;
 color: #222;
 text-decoration: none;
}
 .sitenav_link:hover{
     color: #de2e54;
 }  

 .sitenav_link:active{
     opacity: 0.6;
 }
 .main_link{
     display: inline-block;
     font-size: 15px;
     padding: 10px 22px;
     border: 2px solid transparent;
     font-family: 'Open Sans Condensed','Arial',sans-serif;
     letter-spacing: 2px;
     background: #de2e54;
     color: #fff;
     text-decoration: none;
     text-transform: uppercase;
     border-radius: 8px;
 }
 .main_link:hover{
     border-color: #de2e54;
     background: #fff;
     color: #de2e54; 
 }
 .main_link:active{
     background: #de2e54;
     color:#fff;
 }
 .site_logo{
   display: flex;
   justify-content: space-around;
   align-items: center;   
   text-decoration: none;
   color: #222;
   font-size: 24px;
   font-weight: 600;
 }
 .site_logo:hover{
     color: #de2e54;
 }
 .site_logo:active{
   opacity: 0.6;
 }
 .site_logo img{
     margin-right: 16px;

 }
 .hero_container{
     display: flex;
     justify-content: space-between;
 }
 .hero{
     background: #0eb4c1;
     color: #fff;
 }
 .hero_content{
     width: 500px;
     padding: 120px 0;
 }
 .hero_heading{
     margin-top: 0;
     margin-bottom: 16px;
     font-family: 'Open Sans',' Arial',sans-serif;
     font-size: 30px;
     line-height: 1.2;
 }
 .hero_text{
     width: 440px;
     margin: 0 0 36px 0;
 }
 .main_link_solid:hover{
     border-color: transparent;
     background: rgba(222,46,84,0.8);
     color: #fff;
 }
 .main_link_solid:active{
    background: rgba(222,46,84,0.6);
    opacity: 1;

 }
 .hero_img{
    align-self: flex-end;
 }
 .index_services{
     padding: 120px 0;
 }
 .index_services_heading{
     margin: 0 0 56px 0;
     text-align: center;
     font-size: 36px;
     line-height: 1.2;
     color: #000;
 }
 .index_services_list{
   
     padding: 0;
     margin: 0 auto; 
    list-style: none;
    width: 864px;
    margin-bottom: 60px;

 }
 .index_services_item:not(:last-child){
     margin-bottom: 80px;
 }
 .index_servce{
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 .index_service_img{
     width: 200px;
     height: 200px;
     object-fit: cover;
     margin-right: 64px;
     box-shadow: 0px 12px 24px -8px #006B744D;
     border-radius: 24px;
 }
 .index_service_content{
     width: 600px;
 }
 .index_service_title{
     margin-top: 0;
     margin-bottom: 24px;
     color: #222;
 }
 .index_service_description{
     margin: 0;
 }
 .index_services_actions{
     display: flex;
     justify-content: center;
 }
 /* CTA */
 .cta{
     padding: 64px 0;
     background: #0eb4c1;   
     color: #fff;
 }
 .cta_text{
     margin: 0 0 40px 0;
     font-family: 'Open Sans',' Arial',sans-serif;
     text-align: center;
     font-size: 36px;
     line-height: 1.2;

 }
.cta_link_item:not(:last-child)
{
 margin-right: 40px;   
}
 .cta_link{
     display: flex;
     justify-content: center;
     align-items: center;
   
 }
 .main_link_outline{
     background-color: transparent;
     border-color: #fff;
 }
 .main_link_outline:hover{
     background: #de2e54;
    
     color: #fff;
 }
 .main_link_outline:active{
     opacity: 0.6;
 }


 /* site_footer */
 .site_footer{
     padding: 24px;
     padding-bottom: 24px;
     background: #222;
 }
 
 .site-footer-container{
   
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .site_footer_text{
     color:#fff;
 }
.site_footer_link{
    color: #fff;
}
.site_footer_link:active{
    color: #fff;
}